APP_ENV=production
APP_URL=https://YOUR-SERVICE.onrender.com
DB_HOST=YOUR-AIVEN-HOST
DB_PORT=YOUR-AIVEN-PORT
DB_DATABASE=defaultdb
DB_USERNAME=avnadmin
DB_PASSWORD=THAY_BANG_MAT_KHAU_AIVEN
MYSQL_ATTR_SSL_CA=/etc/secrets/ca.pem
PORT=10000
RUN_SQL_IMPORT=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=THAY_BANG_EMAIL
MAIL_PASSWORD=THAY_BANG_MAT_KHAU_UNG_DUNG
MAIL_FROM_ADDRESS=THAY_BANG_EMAIL
MAIL_FROM_NAME=TrendStyle Fashion
GHN_TOKEN=THAY_BANG_TOKEN_GHN
GHN_SHOP_ID=216746
GHN_FROM_DISTRICT_ID=1485
GHN_DEFAULT_WEIGHT=200
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
MOMO_VERIFY_SSL=true
GEMINI_API_KEY=
